.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    
}

.header-logo{
    width: 250px;
    height: 50px;
    margin-left: 10px;
}

.nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-logo{
    height: 60px;
    width: 60px;
}

.nav-pages{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.text-link {
    font-family: 'Roboto';
    font-weight: 400;
    color: #282828;
    text-decoration: none;
}

.header-icon{
    margin-top: 5px;
    font-size: 25px;
}

@media only screen and (max-width:1024px) {
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }
    .nav-logo{
        height: 80px;
        width: 80px;
        margin-top: 40px;
    }
    .nav-pages{
        display: none;
    }
}