.wines-container{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.wines-card{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}
.wines-txt-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: 500;
}
.wines-txt-card h1{
    text-align: center;
    margin: 0px;
    font-size: 230px;  
    z-index: 1; 
    position: absolute;
}
.order-img{
    position: absolute;
    height: 650px;
    z-index: 2;
    margin-right: 80px;
    margin-bottom: 50px;
}

.other-wines{
width: 100%;
height: 80vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.other-wines h1{
    font-family: 'Noto Serif Lao';
    font-size: 50px;
    margin-bottom: 50px;
}

.other-container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
